html {
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkgray;
    color: black;
    margin: 0rem;
    padding: 0%;
    position: relative;
    width: 100%;
}

header {
    text-align: center;
    background-color: rgb(219, 159, 47);
    margin: 0rem;
    padding: 0rem;
    position: relative;
    width: 100%;
}

nav a {
    color: black;
    font-size: 42px;
    text-decoration: none;
}

nav ul  {
    text-align: center;
    background-color: rgb(153, 192, 11);
    padding: 0rem;
    position: relative;
    width: 100%;
    left: 0;
    top: relative;
}

nav li {
    font-size: 20px;
    display: list-item;
    margin-right: 3rem
}

main {
    margin: auto;
    padding: 0%;
    position: relative;
    width: 80%;
}

main section {
    position: relative;
    padding: 1rem;
}

.home-image  {
    float:left;
    padding: right;
    margin-right: 50px;
    
}

footer {
    text-align: center;
    background-color: darkslategrey;
    padding: 1rem;
    float: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.home-title {
    font-size: 20;
}

.about {
padding-top: 10%;
padding-bottom: 10%;
}
.home-body{
padding-top: 0%;
text-size-adjust: 12px;
font-style: normal;

}
.card{
width: 25%;
float: left;
padding: 0 10px;
padding-bottom: 10%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
margin-right: 5%;
}
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container{
padding: 2px 5%;
}
.contact{
margin-top: 10%;
font-size: 12px;
float: relative;
margin-top: 10%;
}
.projects{
    margin-bottom: 10%;
}
.card-box{
position: center;
}
